@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}

html, body {
    background-color: darkgray;
    font-family: var(--font01);
    min-height: 100%;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header > h1 {
    font-size: 7vw;
    font-family: var(--font02);
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    color: #ffffff;
    padding-bottom: 50px;
}

header a, footer a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font03);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: #ffffff;
}

section.image {
    background-color: #2e2e2e;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    box-shadow: inset 6px 6px 12px 0px #000000a1;
}

section.image > p {
    display: inline-block;
    background-color: #0000007a;
    text-shadow: 3px 3px 5px #000000;
    padding: 10px;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

section > p {
    padding-bottom: 2em;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}